.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  justify-content: center;
  margin-top: 22px;

}

.gif{
  width: 350px;
  height: 350px;
 margin-top: 20%;
}