.button{
    background: #2f659e00;
    border: none;
    padding: 8px;
    font-family: "fontnew2";
    font-size: 25px;
    /* color: rgb(0, 0, 0); */
    /* margin-bottom: 5px; */
    /* transition: all ease-in-out 0.2s; */
    /* border-radius: 3px; */
  
  }

  .btn{
    background: #e9000000;
    border:none;
    padding: 10px;
    font-family: "fontnew2";
    font-size: 30px;
    color: rgb(0, 0, 0);
    
    /* color: rgb(0, 0, 0); */
    margin-bottom: 10px;
    /* transition: all ease-in-out 0.2s; */
    /* border-radius: 3px; */
  
  }

  .input {
    background: #a7a7aaad;
    width: 270px;
    font-size: 25px;
    font-family: monospace;
    margin-left: 90px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all ease-in-out 0.2s;

  }
  
  .input::placeholder {
    font-size: 20px;
    color: rgba(255, 246, 246, 0.466);
    /* background: rgba(0, 128, 0, 0.219); */

  }
.input:hover{
  background: rgba(238, 238, 238, 0.789);

}
  
  .button:hover {
    font-size: 25px;
    background-color: rgba(128, 255, 0, 0.281);
    /* cursor: pointer; */
  }
  .btn:hover {
    background: rgba(213, 99, 0, 0.452);
  }
    /* font-size: 20px;
    cursor: pointer;
  }
   */