.body {
  background-image: url("https://cdn.shopify.com/s/files/1/0277/2615/1768/products/0056625_yoop-grey-dog-wallpaper_800x1026_crop_center@2x.jpg?v=1648232607");
  padding: 2em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.452);
  height: 900px;
}
.go{
  font-size: 30px;
}
.yellow {
  color: #9729b3;
}

.red {
  color: #df4759;
}

.social svg {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 1.5rem;
}

  .social a img {
    width: 45px;
    height: 45px;
  }
  
  .p{
    position: relative;
    padding: 40px;
    background-color: rgba(86, 17, 88, 0.219);
    height: 500px;
    display: inline-block;
    top: 20px;
    width: 500px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    clear: left;
  }
    
  
  /* .thalita{
    float:left;
    width: 20em;
    height: 20em ;
    display: flex;
    position:static;
    margin-right: 5em;
  } */