.body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/1012/886/475/gradient-digital-art-minimalism-simple-wallpaper-preview.jpg");
    padding: 2em;
    height: 100%;;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

